<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.day0615.dao.TransacationMapper">
  <resultMap id="BaseResultMap" type="com.baidu.day0615.po.Transacation">
    <id column="txhash" jdbcType="CHAR" property="txhash" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
  </resultMap>
  <sql id="Base_Column_List">
    txhash, time, size, weight, amount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transacation
    where txhash = #{txhash,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from transacation
    where txhash = #{txhash,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.baidu.day0615.po.Transacation">
    insert into transacation (txhash, time, size, 
      weight, amount)
    values (#{txhash,jdbcType=CHAR}, #{time,jdbcType=TIMESTAMP}, #{size,jdbcType=INTEGER}, 
      #{weight,jdbcType=DOUBLE}, #{amount,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.baidu.day0615.po.Transacation">
    insert into transacation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txhash != null">
        txhash,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txhash != null">
        #{txhash,jdbcType=CHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.baidu.day0615.po.Transacation">
    update transacation
    <set>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
    </set>
    where txhash = #{txhash,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baidu.day0615.po.Transacation">
    update transacation
    set time = #{time,jdbcType=TIMESTAMP},
      size = #{size,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      amount = #{amount,jdbcType=DOUBLE}
    where txhash = #{txhash,jdbcType=CHAR}
  </update>
</mapper>